body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 75px;
    height: 75px; /* Ginawang parehas ang width at height upang maging isang bilog */
    border-radius: 50%; /* Ginawang bilog ang logo gamit ang border-radius */
    margin-right: 10px;
    overflow: hidden; /* Siguraduhing hindi lumabas ang anumang mga labasan sa labas ng bilog */
}

nav {
    background-color: #555;
    padding: 10px 20px;
    text-align: right;
    font-size: large;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}
main {
    padding: 20px;
    font-size: 25px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}


main {
    padding: 20px;
    text-align: center;
}

.login-container {
    max-width: 500px; /* Adjust as needed */
    margin: auto; /* Center the container horizontally */
    padding: 35px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.login-container h2 {
    margin-top: 0;
}

.login-container label {
    display: block;
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

.login-container input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.login-container input[type="submit"]:hover {
    background-color: #555;
}

/* Styling for the registration link */
.login-container p {
    margin-top: 10px; /* Adjust spacing as needed */
    font-size: 14px;
}

.login-container p a {
    color: #007bff; /* Blue color for link */
    text-decoration: none;
}

.login-container p a:hover {
    text-decoration: underline; /* Underline the link on hover */
}